h1 {
  color: white;
  font-weight: 700;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: white;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:link {
  color: white;
}
a:visited {
  color: white;
}
a:focus {
  color: #ec6e4c;
}
a:hover {
  color: #ec6e4c;
}
a:active {
  color: #ec6e4c;
}

#description {
  text-transform: capitalize;
}

.weather-app {
  background: linear-gradient(
    180deg,
    rgba(8, 40, 91, 0.789) 30%,
    rgba(0, 0, 0, 0.936) 45%
  );
  border: solid 1px darkgray;
  border-radius: 4px;
  font-family: "Lato", sans-serif;
  max-width: 350px;
  height: 650px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}
.searchButton {
  background-color: white;
  border: 1px solid grey;
  border-radius: 4px;
}

.searchButton:hover {
  border: 1px solid greenyellow;
  background-color: greenyellow;
}

.block {
  background-color: aquamarine;
  border: solid 1px aquamarine;
  float: center;
  height: 150px;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 20px;
  width: 150px;
}
.weatherIcon {
  float: right;
  margin-right: 15px;
}

.temperature {
  color: white;
  font-size: 30px;
  float: right;
  margin-right: 20px;
}

.units {
  font-size: 12px;
}

.current-weather {
  font-size: 14px;
}
.today-date {
  font-weight: 600;
}

.current-time {
  font-weight: 300;
}

.footer {
  color: white;
  display: block;
  font-size: 14px;
  text-decoration: none;
  margin-top: 50px;
  text-align: center;
}
