h1 {
  color: white;
  font-weight: 700;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: white;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

small {
  display: block;
  margin-top: -30px;
  text-align: center;
}

#description {
  text-transform: capitalize;
}

.weather-app {
  background: linear-gradient(
    180deg,
    rgba(8, 40, 91, 0.789) 30%,
    rgba(0, 0, 0, 0.936) 45%
  );
  border: solid 1px darkgray;
  border-radius: 4px;
  font-family: "Lato", sans-serif;
  max-width: 350px;
  height: 600px;
  margin: 0 auto;
  padding: 20px;
}
.block {
  background-color: aquamarine;
  border: solid 1px aquamarine;
  height: 150px;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 20px;
  width: 150px;
}
.weatherIcon {
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 48;
  color: goldenrod;
  font-size: 60px;
  float: right;
  margin-right: 15px;
  padding-right: 10px;
}

.temperature {
  color: white;
  font-size: 30px;
  float: right;
  margin-right: 20px;
}
.units {
  font-size: 12px;
}

.current-weather {
  font-size: 14px;
}
.today-date {
  font-weight: 600;
}

.current-time {
  font-weight: 300;
}

.daily {
  padding-top: 15px;
}

.daily-header {
  font-weight: 500;
}

.daily-forecast {
  font-weight: 300;
}

.dayOne,
.dayTwo,
.dayThree {
  margin-top: 10px;
}
